os: linux
dist: xenial
language: node_js
node_js: 16
sudo: false
install:
  - zip -r functions.zip *
script:
  - echo "NO TESTS"
deploy:
  - provider: lambda
    function_name: test_bsfy_func_1412
    role: arn:aws:iam::341288657826:role/bsfy_lambda_role
    handler_name: test
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    region: us-east-1
    runtime: nodejs16.x
    zip: build/function.zip
    edge:
      source: travis-ci/dpl
      branch: update_aws_lambda_am
    on:
      all_branches: true


